
    {{#each mensajes }}
    <body>
    <b style="color:blue;">{{this.user}}</b> [<font style="color:brown;">{{this.id}}</font>] : <i style="color:green;">{{this.message}}</i>
    <br>
    </body>
    {{/each}}
